/* CSS Document */

* {
	box-sizing: border-box
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.logo {
	width: 15%;
	min-width: 7%;
	max-width: 15%;
	min-height: auto;
	max-height: auto;
	
	
	
}

.container {
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	
}

/* Used to create the arrows */

.arrow {
	border: solid white;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
	margin: 0px 0px 3px 5px 
}

.down {
  	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

header .full-navigation-bar {
	background-color: maroon;
	margin: 0;
	padding-bottom: 15px;
	z-index: 1;
	
}

/* Used to style the main menu elements*/

nav ul .mainnav span a {
	font-size: 16px;
	font-family: 'Lato', sans-serif;;
	color: white;
	padding: 5px;
	text-decoration: none;
}

nav ul .mainnav {
	display: inline-grid;
}

/* Used to style the sub menu elements*/

nav ul .mainnav ul li {
	display: inline-block;
}

nav ul .mainnav ul li a {
	font-size: 14px;
	font-family: "Trebuchet MS", "sans-serif";
	color: white;
	padding: 5px;
	text-decoration: none;
}